.anchor {
  color: var(--white);
  font-family: var(--ff-secondary);
  font-size: inherit;
  letter-spacing: 0.1rem;
  overflow: hidden;
  position: relative;
  text-decoration: none;

  &::after {
    background: rgb(255 255 255 / 25%);
    bottom: -6px;
    content: '';
    height: calc(100% - 8px);
    left: 12px;
    position: absolute;
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
    width: calc(100% - 8px);
  }

  @include tablet {
    &:hover::after {
      bottom: -2px;
      height: 100%;
      left: 0;
      width: 100%;
    }
  }
}
