:root {
  // To use rem as 10px
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-md);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-secondary);
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}
