:root {
  // To use rem as 10px
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

html,
body {
  background-color: var(--black);

  // Opt 4 (Dark)
  // background-image: linear-gradient(135deg, #243949 0%, #517fa4 100%);

  // Opt 5 (Dark)
  // background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);

  // Opt 2 (Gray)
  background-image: linear-gradient(135deg, #868f96 0%, #596164 100%);

  // Opt 6 (Blue)
  background-image: linear-gradient(to bottom, #09203f 0%, #537895 100%);

  // Opt 3 (Blue)
  // background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  color: var(--white);
  min-height: 100%;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-md);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-secondary);
}

a {
  color: var(--white);
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

p,
a {
  text-align: left;
}
