.app {
  --initial-transition-distance: 5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 120rem;
  padding: var(--app-padding-ver) var(--app-padding-hor);
  position: relative;

  @include tablet {
    flex-direction: row;
    width: 90%;

    &__sidebar,
    &__main {
      opacity: 0;
      transition: transform var(--very-slow) ease-out, opacity var(--very-slow) ease-out;
    }

    &__sidebar {
      transform: translateX(calc(-1 * var(--initial-transition-distance)));
    }

    &__main {
      transform: translateX(var(--initial-transition-distance));
    }

    &--loaded .app__sidebar,
    &--loaded .app__main {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    max-width: 65rem;
    width: 100%;
  }

  &__section {
    margin-bottom: 5rem;
  }
}
