.sidebar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @include tablet {
    height: calc(100vh - 2*var(--app-padding-ver));
    left: 0;
    max-width: 40rem;
    min-height: 50rem;
    position: sticky;
    top: var(--app-padding-ver);
    width: 40vw;
  }

  &__title,
  &__subtitle,
  &__desc {
    text-align: left;
  }

  &__title,
  &__subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__img-wrapper {
    align-items: center;
    display: flex;
    height: 15rem;
    justify-content: center;
    overflow: hidden;
    width: 15rem;
  }

  &__img {
    border-radius: 1rem;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__desc {
    margin-bottom: 0;
  }
}
